<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Material</title>
    <link rel="stylesheet" href="/admin.css">
</head>
<body>
    <div class="container">
        <div class="logout">
            <a class="logout_text" href="/admin/admin_dashboard">Back</a>
        </div>
        <br><br>
        <h1><%= subject %></h1><br>
        <% if (error) { %>
            <p class="error"><%= error %></p>
          <% } %>
      
        <form action="/admin/upload" method="post" enctype="multipart/form-data">
            <input type="hidden" name="subject" value="sss">
            <label for="file">Select File:</label>
            <input type="file" name="file" id="file" required>
            <button type="submit" name="submit">Upload</button>
        </form>
        <h1>FILES</h1>

        <table class='filetable'>
           <%x.forEach((y)=>{%>
				<tr>
			    <td class='filetabletd'>
				    <%=y.name%>
				</td>
                <td class='filetabletd'>
                    <a href="/admin/open/<%=y.name%>" target="_blank">open</a>
                </td>
                <td class='filetabletd'>
                <a class='meterial_text' href="/admin/open/<%=y.name%>" download> Download File </a>
                
                </td>
                <td class='filetabletd_delete'>
                    <form action="/admin/delete/<%=y.name%>?_method=DELETE" method="post">
                        <button class="btn-delete" type="submit" name="submit">Delete</button>
                    </form>
                </td>
                </tr>
            <%})%>
        </table>

  
    </div>
</body>
</html>


